# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
.DS_Store


#gen
#.gitignore
#.idea/workspace.xml
#out/production/arithmetic_code/com/web/arith/insert/
#out/production/arithmetic_code/com/web/arith/mergearry/
